{% extends "::base.html.twig" %}
{% block latch_content %}

	<form method="post" action="{{ path('fourcoders_latch_register') }}">
		{{ form_widget(form._token) }}
		<img src="{{ asset('bundles/fourcoderslatch/img/logo_Latch.png') }}">
		<span>{{error.message}}</span>
		{{ form_widget(form.latch, {'attr': {'placeholder': 'Código'}}) }}
		<div id="start">
			<input type="submit" class="latchinputregister" value="Parear">
		</div>
	</form>

	<br><br><br>
	<span>¿Cómo parear?</span><br>
	<div id="instructions">
		<span>- Abrir su aplicación Latch</span>
		<span>- Generar nuevo servicio</span>
		<span>- Generar nuevo código</span>
		<span>- Insertar código y parear</span>
	</div>

{% endblock %}